<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-archie-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"> <%= title %></a>
    </div>
    <div class="collapse navbar-collapse navbar-archie-collapse">
      <ul class="nav navbar-nav navbar-buttons navbar-right">
    <li><a id="help" href="#"><i class="fa fa-question"></i> Help</a></li>
    <li><a id="about" href="#"><i class="fa fa-power-off"></i> Logout</a></li>
      </ul>
    </div>

