<div class="board-header"><div><a href="/" class="logo-btn"><img src="/images/dripping_waffle_logo.png"></a>
<h3>
  <a class="username" href="http://github.com/waffleio">waffleio</a>
  <span class="slash">/</span>
  <a class="repoName" href="http://github.com/waffleio/waffle.io">waffle.io</a>
  
</h3>
<a target="_blank" class="buttonlink new-issue-btn">New Issue</a>
<form id="issue-form" style="display: none;" class="input-append">
  <input class="span2" id="form-info" type="text" placeholder="Description">
  <button class="go-button" type="submit">Add</button>
</form>

<div class="search">
  <input id="search" type="text" name="filter" placeholder="filter issues...">
  <i class="github-icon github-icon-search"></i>
</div>

<a id="github-user-link" target="_blank" href=""><img id="github-user" style="display: none;" src=""></a>


  <a href="https://github.com/login/oauth/authorize?client_id=b68f04bdff231220a275&amp;redirect_uri=https://waffle.io/github-callback/public/waffleio/waffle.io&amp;scope=public_repo" class="buttonlink login-btn">
    Login with GitHub
  </a>


<span id="banner-info" style="display: none;"><img src="//badge.waffle.io/waffleio/waffle.io.png?label=ready"> Almost there! Merge the Pull Request to get your badge. <a target="_blank" class="buttonlink pullmerge-btn"></a><a target="_blank" class="buttonlink nothanks-btn">No Thanks</a></span>
</div></div>