<div class="board-body"><div><div id="alert-target"></div>
<div class="show-grid board-columns ui-sortable"><div class="column" style="opacity: 1; width: 16.666666666666668%;"><div class="column-header">
	
    <span class="display-name">Ideas</span>
    <span class="column-card-count">12</span>
</div>
<div class="issues-column sortable ui-sortable" style="height: 313px;"><div class="issue" style="opacity: 1; display: block;"><div id="20787206" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/306">306</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Flockdock.com support for notification of changes to cards</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Flockdock.com support for notification of changes to cards
	</textarea>

	<div class="body">E.g CircleCI and TravisCI Pro both support this via a Flowdock token. It would be awesome if moving or updating cards in waffle.io would publish change summaries to the flow on Flowdock.com.</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/306#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21091542" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/308">308</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">reordering columns is pretty wiggy</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		reordering columns is pretty wiggy
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #fc2929">bug</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/308#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21399739" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/317">317</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">hideable backlog column</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		hideable backlog column
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/317#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>2</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21319488" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/314">314</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">allow done column time to be customized</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		allow done column time to be customized
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/314#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21319088" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/313">313</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">assign issue to yourself when you drag it to in progress</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		assign issue to yourself when you drag it to in progress
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/313#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21317289" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/312">312</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">show team analytics</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		show team analytics
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/312#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>2</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21284972" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/310">310</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Support bitbucket.org</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Support bitbucket.org
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/310#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="22342301" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/334">334</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Support renaming GitHub repositories</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Support renaming GitHub repositories
	</textarea>

	<div class="body">Repro:

1. create a repo 'foo'
1. set up waffle issue tracking for that repo, e.g. https://waffle.io/ghuser/foo
1. add a custom column called "Ideas"
1. rename "foo" via the GH interface to "bar"
1. refresh https://waffle.io/ghuser/foo, notice 'not found' message
1. set up waffle issue tracking for newly-renamed "bar" repo, e.g. https://waffle.io/ghuser/bar
1. notice that the custom "Ideas" column is now gone.

Workaround:

Re-add custom columns etc. At least any labels created before the rename will persist, so it's not too hard to sync everything back up, but not pleasant, either.</div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/334#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="22271857" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/332">332</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">make badge more consistent with other badges</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		make badge more consistent with other badges
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/332#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>2</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="22198121" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/330">330</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Badges doesn't take into consideration own setup of label for Ready issues</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Badges doesn't take into consideration own setup of label for Ready issues
	</textarea>

	<div class="body">If I look at a board, we have plenty issues in Ready column (`ready` label):

https://waffle.io/richwidgets/richwidgets

but badge tells us there are `0` ready issues:

https://badge.waffle.io/richwidgets/richwidgets.png

</div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/330#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="22077141" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/329">329</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">if switching columns, clear other column labels (make column tags mutually exclusive)</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		if switching columns, clear other column labels (make column tags mutually exclusive)
	</textarea>

	<div class="body">I've had issues with some cards picking up multiple column names. Could be people assigning them outside of the tool. This makes them appear in multiple columns. Seems like they should be mutually exclusive. If a card is tagged as A and B, and I move it from A to C, or B to C, the card should end up with only C.

The rule would be when changing to a column, clear all column labels before assigning the new state to ensure that all column labels are mutually exclusive.</div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/329#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21735923" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/326">326</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">assignee dropdown is "under" column border. i.e. the layering is messed up. needs some css love</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		assignee dropdown is "under" column border. i.e. the layering is messed up. needs some css love
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/326#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div></div></div><div class="column" style="opacity: 1; width: 16.666666666666668%;"><div class="column-header">
	
    <span class="display-name">Backlog</span>
    <span class="column-card-count">40</span>
</div>
<div class="issues-column sortable ui-sortable" style="height: 313px;"><div class="issue" style="opacity: 1; display: block;"><div id="21733946" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/325">325</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">shortcut "r" does not keep order of columns...</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		shortcut "r" does not keep order of columns...
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #fc2929">bug</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/325#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>2</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="20808478" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/307">307</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Not able to get the badge code again</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Not able to get the badge code again
	</textarea>

	<div class="body">I have once seen the "send PR" button in the top of the board. I've sent the PR, but I'm not able to do that again for other repositories I maintain.

Is that a bug?</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/307#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21406808" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/318">318</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">remove all waffle labels when a card is dragged</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		remove all waffle labels when a card is dragged
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/318#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21382775" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/315">315</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Filter by milestone. Needs better communication of this capability and/or easier UI/UX to do so</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Filter by milestone. Needs better communication of this capability and/or easier UI/UX to do so
	</textarea>

	<div class="body">We have been getting so much feedback on Intercom about this.  We should definitely approach this and talk about what would be the best way to do this better.</div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/315#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="18164913" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/239">239</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">user profile page, or logged in landing page</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		user profile page, or logged in landing page
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/239#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17566806" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/217">217</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">View per milestone</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		View per milestone
	</textarea>

	<div class="body">@obiot: "it's missing today the view per milestone, which we heavily use when defining our roadmap :)"

Acceptance Criteria:
* Allow filtering the board to a milestone (This should probably turn into a broader issue on filtering based on multiple things)</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/217#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>6</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="18257092" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/244">244</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Productionalize multi-repo board view</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Productionalize multi-repo board view
	</textarea>

	<div class="body">According to the users testing it, it's providing value and ready for broader usage.

AC:
* Instead of the empty board and alert that says "You must login to access the multi-repo view", change it to a modal (or just display in the board area) that lets the user log in with private or public access.
* get ranking working for the multi-board
* make sure the usability around the current way of adding/removing repos from the board is ok for now. It should be improved later when we add a user page
* figure out what we want to do with multi-repo and pricing
* make the alert better if a board has "different columns"</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/244#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16739272" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/126">126</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Can I vote on an issue?</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Can I vote on an issue?
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/126#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>5</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16897551" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/157">157</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">fix pull request bar so that it shows to add a badge when they have an open pull request, not when we have sent them a PR</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		fix pull request bar so that it shows to add a badge when they have an open pull request, not when we have sent them a PR
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #fc2929">bug</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/157#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16705036" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/123">123</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Investigate/stabilize sending a pull request</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Investigate/stabilize sending a pull request
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/123#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17479642" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/216">216</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Real time board updates based on changes on other browsers/github, pubsubhubbub?</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Real time board updates based on changes on other browsers/github, pubsubhubbub?
	</textarea>

	<div class="body">When two users are on the same board in different browsers, use real time updates (socket.io) to change a board if the other user changes data.

Acceptance Criteria:
* New service
* Update the board being viewed when changed in another browser. For now, this means title change, assignee change, or label change.
* Don't worry about syncing offline changes yet.
* Don't worry about conflict resolution yet.
* Don't worry about github webhooks yet. (Real time updates based on changes in github, not waffle)</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/216#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>4</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="19591384" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/291">291</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Automatic update issues from updated itens in GitHub</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Automatic update issues from updated itens in GitHub
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/291#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16692135" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/119">119</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">No waffles if issues are disabled in your repo</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		No waffles if issues are disabled in your repo
	</textarea>

	<div class="body">I tried to enable a board for a repo that was more than a year old.  It didn't have issues enabled.  The resulting behavior was weird - I couldn't create a card, but there was no error message.  Behind the scenes I was getting a 410 error.  I wish you would fail gracefully, or even better, just enable issues for me automatically.</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #fc2929">bug</span>
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/119#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16649473" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/113">113</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Correctly process international characters in README.md e.g. https://github.com/acl-translation/acl-chinese</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Correctly process international characters in README.md e.g. https://github.com/acl-translation/acl-chinese
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #fc2929">bug</span>
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/113#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="18370238" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/247">247</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Option to "clean up" issues closed by other means</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Option to "clean up" issues closed by other means
	</textarea>

	<div class="body">I'll often put a `closes #ABC` in a commit message.

The board updates correctly, but the waffle.io tag (in progress, etc) does not get cleaned up.

Flag these in the Done board and let me click to clear...er something</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/247#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>4</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16109313" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/43">43</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Issue Linkings</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Issue Linkings
	</textarea>

	<div class="body">ooks good so far, but it's missing one critical feature - issue linking. Often times, someone opens an issue (#50), and someone else fixes in (#54) and then the two issues are linked via github (and closed at the same time).

If you look here: http://www.waffle.io/acrmp/chefspec #158 fixes #118, but there's no indication of that on the board. It would be nice to see them nested in some way.</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/43#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="18711937" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/263">263</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">announcements of new feature releases in intercom</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		announcements of new feature releases in intercom
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/263#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17566835" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/218">218</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Better mobile support</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Better mobile support
	</textarea>

	<div class="body">@parasyte: "It looks and runs great on iPhone 4S, but scrolling each column is kind of "slow"; like it doesn't track my finger position well. Unless I scroll with two fingers, but that is awkward. Also missing the inertial scrolling to quickly flick through the list! I know iscroll exists as a workaround..."

Acceptance Criteria:
* Implement better column scrolling on mobile.
* Investigate dragging issues on mobile (create another issue for that if needed)</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/218#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="19128896" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/279">279</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Allow custom search criterias on each column</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Allow custom search criterias on each column
	</textarea>

	<div class="body">The backlog, Ready and in progress should be sorted by hand.

However the done column would be nice to sort by arbitrary criterias like "recent activity" "oldest created" "newest created" "most recently closed"</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/279#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="19128839" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/278">278</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">aliases for collaborators</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		aliases for collaborators
	</textarea>

	<div class="body">When I try to filter by issues assigned to me I type in my name "Jake" instead of "raynos"

It would be nice to configure aliases on a per board level.</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/278#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>2</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="18379289" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/252">252</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Notify the user of new issues</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Notify the user of new issues
	</textarea>

	<div class="body">Since we have ranking in the backlog, new issues go to the bottom of the backlog. We should somehow show the user that someone has added a new issue to their repository.</div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/252#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17458304" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/215">215</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">assign to anyone, not just maintainers</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		assign to anyone, not just maintainers
	</textarea>

	<div class="body">Github doesn't currently allow assigning to anybody who is not a
maintainer on the repository already -- which I find very limiting.
It'd be interesting if waffle.io allowed assigning any github user to
an issue.</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/215#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="19522769" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/287">287</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Time tracking per issue</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Time tracking per issue
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/287#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="18948977" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/274">274</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Consider pulling data into waffle from other sources</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Consider pulling data into waffle from other sources
	</textarea>

	<div class="body">I think asana is similar to github.

It has a "project" instead of a "repository"
It has "tasks" instead of "issues"
It has comments like issues, It has tags like issues, it has assignees like issues.

It seems like your building waffle as an express app, if you guys think this is out of scope I would be interested in building a proof of concept for this functionality.</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/274#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="19349857" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/283">283</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">add hook to close to remove waffle labels</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		add hook to close to remove waffle labels
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/283#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>3</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="15941077" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/31">31</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Create a wider array of badges</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Create a wider array of badges
	</textarea>

	<div class="body">I think a wider array of badges would be useful, perhaps showing more than just the number of "ready" issues; I would ideally like to show both the backlog and the ready issues at the same time.</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/31#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16757259" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/127">127</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">badge for private repos?</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		badge for private repos?
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/127#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>9</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="19421711" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/285">285</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">delete forks after pull requests go through</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		delete forks after pull requests go through
	</textarea>

	<div class="body">Via twitter: @andrewhomeyer @waffleio I suggest cleaning up the forked repos after the pull requests go through. GitHub limits the repos on your profile.</div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/285#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="15989570" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/35">35</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">look for badge in readme using conditional request so it doesn't count against rate limit</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		look for badge in readme using conditional request so it doesn't count against rate limit
	</textarea>

	<div class="body">http://developer.github.com/v3/#conditional-requests

http://stackoverflow.com/questions/14886664/caching-github-api-calls</div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/35#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="22269991" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/331">331</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">support column paging for columns with 99+ issues</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		support column paging for columns with 99+ issues
	</textarea>

	<div class="body">The 99 limit was added because of UI constraints in the card header - numbers over 2 digits overflow. With the new header style this won't be an issue anymore. But, GitHub also limits the per_page request to 100. To load more than that we'd need to support paging.

Requested by twitter.com/OpenEdio

Idea: We need to figure out a better way to manage large backlogs. Any repo with 30+ issues in the backlog will have a hard time managing it anyway in the column format. Maybe a list view that can slide in? Support better grouping with tags? Would help super large repos like rails/rails too.</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
				<span class="label-pill dark" style="background-color: #e11d21">blocked</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/331#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>2</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16839574" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/146">146</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://0.gravatar.com/avatar/2bde1b725ce22615fa158146c42453e2?d=https%3A%2F%2Fidenticons.github.com%2F3e68c5dd19399cf8d45e2d20df232c10.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">see if google adwords helped us: see if users that arrived from there stayed or signed up</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		see if google adwords helped us: see if users that arrived from there stayed or signed up
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill light" style="background-color: #fbca04">biz dev</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/146#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16941203" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/162">162</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">enable rss feed for the blog</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		enable rss feed for the blog
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #006b75">blog</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/162#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16991698" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/168">168</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">decide on column exit criteria</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		decide on column exit criteria
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/168#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16838101" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/145">145</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://1.gravatar.com/avatar/71b8fd714216f308ccc84c1109dd2e9b?d=https%3A%2F%2Fidenticons.github.com%2F2afa044900e33fe67d286b7dfd7cd88b.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Highlight cards that have pending notifications if logged in (new comments, etc)</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Highlight cards that have pending notifications if logged in (new comments, etc)
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/145#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17272128" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/199">199</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://0.gravatar.com/avatar/5831b337f60c0de6067537e7c1c1ce96?d=https%3A%2F%2Fidenticons.github.com%2F1cc6d97caf6ce6ced4027376763b403a.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">eliminate duplicate code around checking auth/repo exists/board is purchased</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		eliminate duplicate code around checking auth/repo exists/board is purchased
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/199#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17239298" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/198">198</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://0.gravatar.com/avatar/5831b337f60c0de6067537e7c1c1ce96?d=https%3A%2F%2Fidenticons.github.com%2F1cc6d97caf6ce6ced4027376763b403a.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">build jekyll blog from startupsummer-blog using rake to allow build pack to run Gruntfile without needing ../startupsummer-blog</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		build jekyll blog from startupsummer-blog using rake to allow build pack to run Gruntfile without needing ../startupsummer-blog
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/198#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17106277" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/186">186</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://0.gravatar.com/avatar/5831b337f60c0de6067537e7c1c1ce96?d=https%3A%2F%2Fidenticons.github.com%2F1cc6d97caf6ce6ced4027376763b403a.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">use mixpanel.register.$ignore(user) to ignore our team in production</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		use mixpanel.register.$ignore(user) to ignore our team in production
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #647997">mixpanel</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/186#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17106048" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/181">181</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://0.gravatar.com/avatar/5831b337f60c0de6067537e7c1c1ce96?d=https%3A%2F%2Fidenticons.github.com%2F1cc6d97caf6ce6ced4027376763b403a.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">change to call alias once (the first time they sign in) and identify every other time</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		change to call alias once (the first time they sign in) and identify every other time
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #647997">mixpanel</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/181#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17584862" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/221">221</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://0.gravatar.com/avatar/5831b337f60c0de6067537e7c1c1ce96?d=https%3A%2F%2Fidenticons.github.com%2F1cc6d97caf6ce6ced4027376763b403a.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">post on problems before solutions: how we pivoted away from enterprise scrum</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		post on problems before solutions: how we pivoted away from enterprise scrum
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #006b75">blog</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/221#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17703986" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/225">225</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">refactoring: pull out auth stuff into a separate file</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		refactoring: pull out auth stuff into a separate file
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/225#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div></div></div><div class="column" style="opacity: 1; width: 16.666666666666668%;"><div class="column-header">
	
    <span class="display-name">Ready</span>
    <span class="column-card-count">12</span>
</div>
<div class="issues-column sortable ui-sortable" style="height: 313px;"><div class="issue" style="opacity: 1; display: block;"><div id="22072006" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/328">328</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">handle database failures</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		handle database failures
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #fc2929">bug</span>
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/328#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="22049092" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/327">327</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Unicode error</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Unicode error
	</textarea>

	<div class="body">Your engine seems unable to properly handle our UTF8 readme file :)

https://github.com/BoGoEngine/ibus-bogo-python/pull/103/files</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/327#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21399496" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/316">316</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">intermittent save issues for column changes</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		intermittent save issues for column changes
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #fc2929">bug</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/316#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21291167" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/311">311</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">strip out custom columns feature toggle</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		strip out custom columns feature toggle
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/311#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="19124229" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/277">277</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">edit column popover needs to show on the appropriate side if it will be shown off screen</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		edit column popover needs to show on the appropriate side if it will be shown off screen
	</textarea>

	<div class="body">If you have lots of columns or a small screen, the edit column popover can show off the screen</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #fc2929">bug</span>
			
				<span class="label-pill light" style="background-color: #FFA400">custom columns</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/277#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="19570061" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/288">288</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://1.gravatar.com/avatar/5831b337f60c0de6067537e7c1c1ce96?d=https%3A%2F%2Fidenticons.github.com%2F1cc6d97caf6ce6ced4027376763b403a.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">moment.js for time related things on detail view</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		moment.js for time related things on detail view
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill light" style="background-color: #7fe5ef">add/edit issue</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/288#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="19236346" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/281">281</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://1.gravatar.com/avatar/c3309720844349427aa0b66bab2901dc?d=https%3A%2F%2Fidenticons.github.com%2F247ef1f72d9c16d197f97c94fc3b14c1.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">setup details modal to parse github markdown with https://npmjs.org/package/markdown</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		setup details modal to parse github markdown with https://npmjs.org/package/markdown
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
				<span class="label-pill light" style="background-color: #7fe5ef">add/edit issue</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/281#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>3</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="18523741" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/254">254</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://1.gravatar.com/avatar/5831b337f60c0de6067537e7c1c1ce96?d=https%3A%2F%2Fidenticons.github.com%2F1cc6d97caf6ce6ced4027376763b403a.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">blog post: "Don't be such an engineer"</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		blog post: "Don't be such an engineer"
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #006b75">blog</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/254#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17722191" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/227">227</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">talk to current customers to find high priority needs for retention</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		talk to current customers to find high priority needs for retention
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/227#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>2</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="18077474" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/232">232</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://0.gravatar.com/avatar/2bde1b725ce22615fa158146c42453e2?d=https%3A%2F%2Fidenticons.github.com%2F3e68c5dd19399cf8d45e2d20df232c10.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">convert owner dropdown to be a aura/hull component</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		convert owner dropdown to be a aura/hull component
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/232#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21464528" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/321">321</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">creating a new issue doesn't always appear</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		creating a new issue doesn't always appear
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #fc2929">bug</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/321#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>1</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="15997865" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/36">36</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://1.gravatar.com/avatar/5831b337f60c0de6067537e7c1c1ce96?d=https%3A%2F%2Fidenticons.github.com%2F1cc6d97caf6ce6ced4027376763b403a.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Support non-.md README files with regards to adding badges to repos</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Support non-.md README files with regards to adding badges to repos
	</textarea>

	<div class="body">Currently, if a repository only has a README.rdoc, the pull request errors out in the uppdateREADME method in github-helper.coffee</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/36#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>5</span>
			</a>
		</div>
	</div>
</div>
</div></div></div><div class="column" style="opacity: 1; width: 16.666666666666668%;"><div class="column-header">
	
    <span class="display-name">In Progress</span>
    <span class="column-card-count">4</span>
</div>
<div class="issues-column sortable ui-sortable" style="height: 313px;"><div class="issue" style="opacity: 1; display: block;"><div id="18083039" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/233">233</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://1.gravatar.com/avatar/8541b386d5208d9764d0597d0f4084fa?d=https%3A%2F%2Fidenticons.github.com%2Fd58c30d1b63f6bb7c33ad9c95211fb70.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">consistent header across all pages (landing, 404, board)</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		consistent header across all pages (landing, 404, board)
	</textarea>

	<div class="body">To allow a user to login/logout from any page which would let us do user feature toggles and a user home/profile page</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/233#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>3</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="17426789" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/213">213</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://2.gravatar.com/avatar/5831b337f60c0de6067537e7c1c1ce96?d=https%3A%2F%2Fidenticons.github.com%2F1cc6d97caf6ce6ced4027376763b403a.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Better issue editing/adding inside waffle</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Better issue editing/adding inside waffle
	</textarea>

	<div class="body">Right now, you can only add a new issue on waffle with a title. Also, you can only change the title and assignee on already created issues.

Acceptance Criteria:
* Ability to create/edit an issue and add a title, description, assignee, milestone, and labels.
* Comments will be a follow on issue
* Attaching images will be a follow on issue</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
				<span class="label-pill light" style="background-color: #7fe5ef">add/edit issue</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/213#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>5</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="19421641" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/284">284</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://0.gravatar.com/avatar/c3309720844349427aa0b66bab2901dc?d=https%3A%2F%2Fidenticons.github.com%2F247ef1f72d9c16d197f97c94fc3b14c1.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">blog post on automating github pull request</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		blog post on automating github pull request
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #006b75">blog</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/284#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="18938893" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/273">273</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://2.gravatar.com/avatar/5831b337f60c0de6067537e7c1c1ce96?d=https%3A%2F%2Fidenticons.github.com%2F1cc6d97caf6ce6ced4027376763b403a.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">add label capability to detail-view</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		add label capability to detail-view
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill light" style="background-color: #7fe5ef">add/edit issue</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/273#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div></div></div><div class="column" style="opacity: 1; width: 16.666666666666668%;"><div class="column-header">
	
    <span class="display-name">Done</span>
    <span class="column-card-count">4</span>
</div>
<div class="issues-column sortable ui-sortable" style="height: 313px;"><div class="issue" style="opacity: 1; display: block;"><div id="22339991" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/333">333</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Waffle UI appears to trap certain keyboard shortcuts</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Waffle UI appears to trap certain keyboard shortcuts
	</textarea>

	<div class="body">
Repro:

1. Open https://waffle.io/waffleio/waffle.io in Chrome or Safari on a Mac
2. Press CMD-L to focus input on the location bar
3. Notice that it does not work
4. Open any site other than waffle.io and repeat step 2.
5. Notice it does work as expected there.
6. Notice the same behavior for other keyboard commands like ALT-CMD-[left | right arrow] for switching between tabs

</div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/333#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>2</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21733880" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/324">324</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://2.gravatar.com/avatar/c3309720844349427aa0b66bab2901dc?d=https%3A%2F%2Fidenticons.github.com%2F247ef1f72d9c16d197f97c94fc3b14c1.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">shortcut "cmd + r" should not trigger shortcut "r"; check for holding down "cmd" just like shift</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		shortcut "cmd + r" should not trigger shortcut "r"; check for holding down "cmd" just like shift
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #fc2929">bug</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/324#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>2</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21456132" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/320">320</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">testing a bug</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		testing a bug
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/320#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="21454577" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/319">319</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Allow users to add comments to github issues from waffle.io instead of being redirected to github</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Allow users to add comments to github issues from waffle.io instead of being redirected to github
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/319#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>2</span>
			</a>
		</div>
	</div>
</div>
</div></div></div><div class="column" style="opacity: 1; width: 16.666666666666668%;"><div class="column-header">
	
    <span class="display-name">Experimenting</span>
    <span class="column-card-count">3</span>
</div>
<div class="issues-column sortable ui-sortable" style="height: 313px;"><div class="issue" style="opacity: 1; display: block;"><div id="17722183" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/226">226</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">design experiment to improve retention</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		design experiment to improve retention
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/226#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>3</span>
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="20280444" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/300">300</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://2.gravatar.com/avatar/c3309720844349427aa0b66bab2901dc?d=https%3A%2F%2Fidenticons.github.com%2F247ef1f72d9c16d197f97c94fc3b14c1.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">pop up for info on all keyboard shortcuts</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		pop up for info on all keyboard shortcuts
	</textarea>

	<div class="body"></div>
	<div class="footer">
		<div class="labels">
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/300#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				
			</a>
		</div>
	</div>
</div>
</div><div class="issue" style="opacity: 1; display: block;"><div id="16633212" class="card-header">
	<a id="issueUrl" target="_blank" href="https://github.com/waffleio/waffle.io/issues/110">110</a>
	
	<a class="multi-repo-link" href="/waffleio/waffle.io">waffleio/waffle.io</a>
		
			<a class="assignee-icon assigned">
				<img src="https://0.gravatar.com/avatar/2bde1b725ce22615fa158146c42453e2?d=https%3A%2F%2Fidenticons.github.com%2F3e68c5dd19399cf8d45e2d20df232c10.png&amp;r=x">
			</a>
		
	<div class="assignee-dropdown-container"></div>
</div>
<div class="card-body">
	<div class="title">Combined issue view for multiple repositories</div>
	<textarea style="display: none;" class="edit-title" name="story-title">		Combined issue view for multiple repositories
	</textarea>

	<div class="body">I &lt;https://github.com/DrHyde/&gt; have many repositories, but few open issues at any time.  It would be really useful if I could have a combined view of all the issues for all repos.</div>
	<div class="footer">
		<div class="labels">
			
				<span class="label-pill dark" style="background-color: #009800">customer requested</span>
			
				<span class="label-pill dark" style="background-color: #e11d21">blocked</span>
			
		</div>
		<div class="comments">
			<a class="comments-link" target="_blank" href="https://github.com/waffleio/waffle.io/issues/110#discussion_bucket">
				<i class="github-icon github-icon-comment-discussion"></i>
				<span>7</span>
			</a>
		</div>
	</div>
</div>
</div></div></div>
	<div class="syrup-drop"></div>

	
</div></div></div>