<div class="row" style="margin: 0;">
	<div class="col-xs-4" style="padding: 0;border-right: 1px solid black;">
		<% for (var i = 0; i < obj.buckets.length; i++) {
		<div class="column-header">
		    <span class="display-name"><%= obj.buckets[i].name %></span>
		    <span class="badge"><%= obj.issues[obj.buckets[i].name].length %></span>
		</div>
		<div class="column-body" style="overflow-y: auto;padding-top: 23px;margin-left: 20px;margin-right: 20px;background-color: #e7e7e7;">
			
		</div>
		<% } %>
	</div>
</div>