html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  background-color: #678E9E;
}

#home {
  min-height: 100%;
  height: 100%;
  height: 100%;
  background-color: #e7e7e7;
  position: relative;
}

.navbar {
  border-radius: 0 !important;
}

.tr-container {
  margin: 80px auto;
  position: relative;
  text-align: center;

  h3 {
    text-align: center;
  }
}
.tr-container .row > div {
  margin-bottom: 1em;
}
.tr-container .row > div:last-child {
  margin-bottom: 0;
}
.tr-container #logo {
  position: absolute;
  top: -50px;
  left: 50%;
  z-index: 100;
  width: 250px;
  height: 100px;
  margin-left: -125px;
  background-color: #fff;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;

  a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: black;
  }
}
.tr {
  position: relative;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  padding: 25px 50px 50px 50px;
  background-color: #FFF;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
}
.tr .tr-form {
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}
.tr .tr-form label {
  display: none;
}
.tr .tr-form .form-control {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (min-width: 768px) {
  .tr-container {
    width: 50%;
  }
  .tr-container .row > div {
    margin-bottom: 0;
  }
  .tr .tr-form {
    padding: 0 25px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .tr #login-btn {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
  }
}

.column-header {
  text-align: center;
  color: #FFF;
  height: 34px;
  font-family: 'Cabin',sans-serif;
  line-height: 34px;
  font-size: 17px;
  background-color: #6fc2f9;
  position: relative;
}

.issue {
margin-bottom: 20px;
-webkit-box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
box-shadow: 1px 1px 9px rgba(0,0,0,0.2);
display: block;
opacity: 1;
}

.issue .card-header {
height: 20px;
line-height: 20px;
cursor: move;
font-family: 'Cabin',sans-serif;
background-color: #062226;
color: white;
font-size: 17px;
padding: 2px;
position: relative;
}

.issue .card-header a:link, .issue .card-header a:visited {
color: white;
}
.issue .card-header a:link, .issue .card-header a:visited {
color: white;
}
.issue .card-header a {
margin-left: 5px;
}

.issue .card-body {
position: relative;
background-color: #FFF;
padding: 4px 10px;
font-size: 18px;
word-wrap: break-word;
}

.issue .card-body .title {
margin-bottom: 10px;
padding: 5px 5px 0 5px;
}

.issue .card-body .edit-title {
resize: none;
}

.issue textarea {
display: none;
width: 100%;
margin: auto;
padding: 5px;
box-sizing: border-box;
font-family: 'Cabin',sans-serif;
font-size: 18px;
}

.issue .card-body .body {
color: #a7a7a7;
font-size: 12px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.issue .card-body .footer {
min-height: 10px;
}

.issue .card-body .footer .labels {
padding-right: 25px;
}

.issue .card-body .footer .comments {
position: absolute;
right: 2px;
bottom: 2px;
background-color: #FFF;
padding-left: 3px;
}

.issue .card-body .footer .comments .comments-link {
text-decoration: none;
color: #CCC;
}

.issue .card-body .footer .labels .label-pill.dark {
text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
color: white;
}